DB_HOST=postgres
DB_PORT=5432
DB_NAME=lent_db
DB_USER=postgres
DB_PASSWORD=postgres
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
PORT=3000
NODE_ENV=development
